.cart {
  padding: 30px;
}
.cart-title {
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 5px;
  border-bottom: 3px solid teal;
  width: max-content;
  margin-bottom: 20px;
}
.cart-wrapper {
  display: flex;
  align-items: flex-start;
}
.cart-items {
  width: 70%;
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
  margin-bottom: 21px;
  border-bottom: 2px solid gray;
}
.cart-item img {
  width: 140px;
  height: 180px;
  object-fit: contain;
}
.cart-item .info {
  width: calc(100% - 140px);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}
.cart-item .info .left {
  width: 58%;
}
.cart-item .info .title,
.cart-item .info .author,
.cart-item .info .info-price {
  font-size: 21px;
}
.cart-item .info .author {
  margin: 10px 0;
}
.cart-item .quantity {
  font-size: 24px;
  margin-bottom: 5px;
}
.cart-item .quantity button {
  cursor: pointer;
  padding: 5px;
  font-size: 17px;
  background-color: #4c8942;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
}
.cart-item .quantity button:disabled {
  cursor: not-allowed;
  background-color: #50584f;
}
.cart-item .quantity button:hover {
  background-color: #222821;
}
.cart-item .quantity b {
  margin: 0 10px;
}
.cart-item .price {
  text-align: center;
  font-size: 24px;
}
.cart-item .delete {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 24px;
  color: crimson;
  cursor: pointer;
}
.cart-order-summary {
  width: 30%;
  border: 1px solid gray;
  margin: 0 15px;
}
.cart-order-summary .title {
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px 10px;
  font-weight: 600;
}
.cart-order-summary .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 15px 10px;
  font-size: 24px;
}
.cart-order-summary .item:last-of-type {
  font-weight: 600;
}

/* Media Queries */
@media (max-width: 1199px) {
  .cart-wrapper {
    flex-direction: column;
  }
  .cart-items {
    width: 100%;
  }
  .cart-order-summary {
    width: 320px;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .cart-item .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-item .quantity {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .cart {
    padding: 15px;
  }
  .cart-wrapper {
    justify-content: center;
    align-items: center;
  }
  .cart-items {
    flex-direction: column;
  }
  .cart-item .info {
    width: 100%;
    margin-top: 15px;
  }
  .cart-item .info .left {
    width: 100%;
  }
  .cart-item .info .title,
  .cart-item .info .author,
  .cart-item .info .info-price,
  .cart-item .price,
  .cart-item .quantity {
    font-size: 18px;
  }
}
