.authors {
  padding: 30px;
}
.authors .search {
  margin-bottom: 30px;
}
.authors .search input[type="search"] {
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 21px;
}
.authors .authors-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.authors .authors-wrapper .author {
  width: 400px;
  height: 365px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
}
.authors .authors-wrapper .author img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
