.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: white;
  width: 80%;
  height: 90%;
  display: flex;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  animation: poupup 0.6s ease;
}
@keyframes poupup {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.modal-content .iconX {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 50px;
  color: crimson;
  cursor: pointer;
}
.modal-content .image {
  width: 40%;
  height: 100%;
}
.modal-content .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal-content .info {
  padding: 30px;
  width: 60%;
}
.modal-content .info h5 {
  font-size: 40px;
}
.modal-content .info .stock {
  font-size: 21px;
  margin: 15px 0;
}
.modal-content .info .author {
  font-size: 21px;
  margin: 15px 0;
  font-weight: 600;
  color: teal;
}
.modal-content .info .author b,
.modal-content .info .price b {
  color: black;
}
.modal-content .info .price {
  color: crimson;
  font-size: 25px;
  font-weight: 500;
}
.add-to-cart {
  margin: 30px 0;
}
.add-to-cart input[type="number"] {
  margin-right: 15px;
  font-size: 21px;
  font-weight: 600;
  padding: 5px 10px;
}
.add-to-cart button,
.go-to-cart {
  border: 1px solid green;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
  color: green;
  font-size: 21px;
  font-weight: 600;
  background-color: transparent;
  transition: 0.2s;
  text-decoration: none;
}
.add-to-cart button .icon {
  margin-right: 5px;
}
.go-to-cart {
  margin-left: 10px;
}
.add-to-cart button:hover,
.go-to-cart:hover {
  background-color: aquamarine;
}
.modal-content .info .link {
  background-color: var(--primary-color);
  width: fit-content;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7px;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 991px) {
  .modal-content {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .modal-content .image {
    display: none;
  }
  .modal-content .info {
    width: 100%;
    height: 60%;
  }
  .modal-content .info h5 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .modal-content {
    width: 90%;
  }

  .modal-content .info {
    width: 100%;
  }
  .go-to-cart {
    display: block;
    width: fit-content;
    margin-top: 10px;
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .modal-content {
    padding: 20px;
    width: 92%;
  }

  .modal-content .info {
    padding: 15px;
  }
  .add-to-cart input[type="number"] {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .add-to-cart button,
  .go-to-cart {
    font-size: 20px;
  }
  .modal-content .info .link {
    font-size: 20px;
  }
}
