.book {
  padding: 30px;
}
.book .book-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.book .book-content img {
  width: 30%;
  height: 300px;
  object-fit: contain;
  padding: 20px;
  box-shadow: 0 0 1px 2px snow;
  background-color: snow;
  margin-right: 20px;
  border-radius: 7px;
}
.book .book-content .info {
  width: 60%;
}
.book .book-content .info h1 {
  font-size: 32px;
}
.book .book-content .info .author {
  color: gray;
  font-size: 21px;
  margin: 15px 0;
  font-weight: 600;
}
.book .book-content .info .author span {
  color: teal;
}
.book p {
  width: 80%;
  font-size: 21px;
  line-height: 1.8;
}
.book .icons-wrapper {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.book .icons-wrapper .icon-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
  font-size: 21px;
  color: teal;
}
.book .icons-wrapper .icon-content small {
  font-weight: 600;
}
.book .icons-wrapper .icon-content .icon {
  font-size: 32px;
  margin: 5px 0;
}

/* Media Queries */
@media (max-width: 767px) {
  .book .book-content {
    flex-direction: column;
    margin-bottom: 0;
  }
  .book .book-content img {
    width: 100%;
    margin-bottom: 15px;
  }
  .book .book-content .info {
    width: 100%;
  }
  .book p {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .book .icons-wrapper {
    flex-direction: column;
  }
  .book .icons-wrapper .icon-content {
    margin-bottom: 50px;
    margin-right: 0;
  }
}
